<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{ asset('css/main.css') }}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ asset('js/main.js') }}"></script>

<div id="container">

    <div class="menu">
        <span>Frank Avery 2015</span>
    </div>

    <div class="bubble">
        <div class="rectangle"><h2>Your Receipt</h2></div>
        <div class="triangle-l"></div>
        <div class="triangle-r"></div>
        <div class="info">
            <form method="post">
                <div align="center">
                    <span id="datas">
                        {% for data in datas %}
                            <p>{{ data }}</p>
                        {% endfor %}
                    </span>

                     <span id="errors">
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </span>

                    <span class="result">{{ result }}</span>
                    <br /><br />

                    <a href="/"> <button id="back" type="button" class="btn btn-primary">Back to Form</button> </a>

                </div>
            </form>
        </div>
    </div>
</div>